<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=10">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>Eve Canary</title>

</head>

<body style="background-color: lightslategrey">
<h1>Eve Canary</h1>
<strong>
    Welcome to Eve Canary! This webapp will allow you to find a killmails that happened in a solar systems nearby.
</strong>
{% if not current_user.is_authenticated %}
<a href="{{ url_for('login') }}">
    <img src="https://images.contentful.com/idjq7aai9ylm/18BxKSXCymyqY4QKo8KwKe/c2bdded6118472dd587c8107f24104d7/EVE_SSO_Login_Buttons_Small_White.png?w=195&amp;h=30" alt="Log in with eveonline.com" />
</a>

{% else %}

<table class="fancyTable">
    <tr style="border: 1px solid black; width: 30%">
        <td style="border: 1px solid black">
            <div id="char_info">
                Hello, <strong>{{ current_user.character_name }}</strong>!<br>
                Your wallet is currently full of <strong>{{ wallet.data }}</strong> ISKs<br>
                Your current location is: <strong>{{ char_location }}</strong><br>
                <img src="{{ char_avatar_url }}" alt="Your avatar">
            </div>
        </td>
        <td style="border: 1px solid black">
            <div id="char_info">
                <strong>Settings</strong><br>
                <div id="description">
                    You need to specify the number of jumps in order to specify how much solar systems you want to check.
                    <br>
                    Also, you need to specify the number of hours to see how long back in time you want to see.
                </div>
                <form class="form" method="POST" role="form" id="update_info">
                  Range of jumps:
                  <input type="text" name="num_of_jumps" value="{{ num_of_jumps }}">
                  <br>
                  For the last hours:
                  <input type="text" name="hours" value="{{ hours }}">
                  <br>
                  <input type="submit" value="Change settings">
                </form>
            </div>
        </td>
    </tr>
    <tr style="border: 1px solid black; width: 30%">
        <td rowspan="2">
            <strong>Status:</strong><br>
            {% if system_with_kill %}
                <div style="color: red">
                    Found a kill!
                    <br>
                    {{ system_with_kill }}
                </div>
            {% else %}
                Nothing is found
            {% endif %}
        </td>
    </tr>
</table>
 <br>
<form action="{{ url_for('logout') }}">
    <input type="submit" value="Logout" />
</form>
{% endif %}
</body>
