<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=10">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>EVE Canary</title>

</head>

<body style="background-color: lightslategrey">
<h1>EVE Canary</h1>
<strong>
    EVE Canary: Find hostile activity near you!
</strong>
{% if not current_user.is_authenticated %}
<br>
<a href="{{ url_for('login') }}">
    <img src="https://images.contentful.com/idjq7aai9ylm/18BxKSXCymyqY4QKo8KwKe/c2bdded6118472dd587c8107f24104d7/EVE_SSO_Login_Buttons_Small_White.png?w=195&amp;h=30" alt="Log in with eveonline.com" />
</a>

{% else %}

<table class="fancyTable" style="width: 40%">
    <tr style="border: 1px solid black">
        <td style="border: 1px solid black">
            <div id="char_info">
                Hello, <strong>{{ current_user.character_name }}</strong>!<br>
                Your current location is: <strong>{{ char_location }}</strong><br>
                <img src="{{ char_avatar_url }}" alt="Your avatar">
            </div>
        </td>
        <td style="border: 1px solid black">
            <div id="char_info">
                <strong>Settings:</strong><br>
                <div id="description">
                    Specify the number of jumps you want to search, and how far back you want to check.<br><br>
                </div>
                <form class="form" method="POST" role="form" id="update_info">
                  <input value = "true" type="hidden" name="update_info">
                  Jump Range:
                  <input type="text" name="num_of_jumps" value="{{ num_of_jumps }}">
                  <br>
                  Hours To Check:
                  <input type="text" name="hours" value="{{ hours }}">
                  <br><br>
                  <input type="submit" value="Update Settings">
                </form>
            </div>
        </td>
    </tr>

    <tr style="border: 1px solid black; width: 30%">
        <td colspan="2" style="border: 1px solid black; width: 30%">
            <strong>Status:</strong><br>
            {% if systems_with_kill %}
                <div style="color: black">
                    Found {{ num_of_kills }} kill(s):
                    <br>
                    {{ systems_with_kill }}
                </div>
            {% else %}
                No current danger..
                <br>
            {% endif %}
            <form class="form" method="POST" role="form" id="run" onclick="Update1()">
                <input id="mixBut1" type="submit" value="Run Analyzer">
                <input id="command1" type="hidden" value="true" name="run_app">
                <script>
                    function Update1() {
                        var mixBut = document.getElementById("mixBut1");
                        mixBut.value = "Checking.."
                    }
                </script>
            </form>
            <br><br>
            <div id="description">
                Auto-checks every minute for nearby danger.<br>
            </div>
            <form class="form" method="POST" role="form" name="watchkeep" onclick="TextChange()" action="?auto_submit_form=true">
                <input id="mixBut2" type="submit" value="Keep Watch">
                <input id="command2" type="hidden" value="true" name="run_watchkeep">
                <script>
                    var mixBut = document.getElementById("mixBut2");
                    mixBut.addEventListener("click", Refresh);

                    var myURL = new URL(window.location);
                    var searchParams = new URLSearchParams(myURL.search);

                    if(myURL.has("auto_submit_form=true")) {
                        Refresh();
                    }

                    function Refresh() {
                        setTimeout(Update2, 15000);
                    }

                    function Update2() {
                        document.forms["watchkeep"].submit();
                        TextChange();
                    }

                    function TextChange() {
                        mixBut.value = "Watching..";
                    }
                </script>
            </form>
            <button type="button" value="Stop" >
                Stop
                <script>
                    var otherButton = document.getElementById("watchkeep");
                    otherButton.addEventListener("click", Stop);

                    function Stop() {
                        otherButton.clearInterval();
                    }
                </script>
            </button>
        </td>
    </tr>
</table>
 <br>
<form action="{{ url_for('logout') }}">
    <input type="submit" value="Logout" />
</form>
{% endif %}
</body>
